<section class="home-about">
  <div class="container">
    <h2 class="main-title">Ласкаво просимо до Autodrive</h2>
    <p class="description">
      AutoService — це сучасний автосервіс, який поєднує інновації та надійність. Ми забезпечуємо якісний ремонт автоелектрики з 2005 року, покладаючись на досвідчену команду та новітнє обладнання. У нашому арсеналі — великі бокси, професійні підйомники та комфортна зона очікування. Довіра клієнтів — наш пріоритет, і ми щодня доводимо, що гідні її. Обирайте Autodrive — сервіс, де ваш автомобіль у надійних руках!
    </p>
  </div>
</section>
