<div class="contacts-container">
  <h2 class="sub-title">Маєте якісь питання?</h2>
  <h1 class="main-title">Ми тут щоб вам допомогти!</h1>
  <hr class="underline" />

  <div class="cards">
    <div class="card">
      <i class="fas fa-phone icon"></i>
      <h3>Телефон</h3>
      <p>+380684458865 (Адмін СТО)</p>
      <p>+380967774345 (Адмін Сайт)</p>
    </div>
    <div class="card">
      <i class="fas fa-envelope icon"></i>
      <h3>Gmail</h3>
      <p>autoservice&#64;gmail.com</p>
    </div>
    <div class="card">
      <i class="fas fa-map-marker-alt icon"></i>
      <h3>Локація</h3>
      <p>Львівська обл., смт. Брюховичі, вул. Івасюка 1г</p>
    </div>
  </div>
</div>
